<%- include("partials/login_register_header.ejs") %> 
    <a class="closebutton" href="/">
        <span class="closebutton__icon">&nbsp;</span>
    </a>

    <img src="/icon/web-icon.png" class="webicon">
    <form action="" method="post" class="input">
        <% if(error && error.length>0){ %>
            <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
            <%= error %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>

          <% if(success && success.length>0){ %>
            <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
            <%= success %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          <% } %>
          
        <div class ="mb-3">
            <label for="" class="form-label">Username</label>
            <input class="form-control" name= "username" type="text" placeholder="Username"required>
        </div>

        <div class ="mb-3">
            <label for="" class="form-label">Password</label>
            <input class="form-control" name= "password" type="password" placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn--login">Login</button>
        <a href="/register" class="goregister">I not have account</a>
    </form>
<%- include("partials/login_register_footer.ejs") %> 