                  </main>
            </div>
        </div>
<%if(currentUser){ %>
    <footer class="row p-2 navbar fixed-bottom audiocontainer">
        <div class="col-md-3 audio__songinfo">
            <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                    <img class="audiocontainer--img" src="https://upload.wikimedia.org/wikipedia/en/8/83/Babymetal_Gimme_Chocolate%21%21_UK_iTunes_artwork.jpg">
                </div>
                <div class="flex-grow-1 ms-3">
                  <p class="m-0 audiocontainer--name">GimmeChocolate!!</p>
                  <p class="m-0 text-white-50 audiocontainer--artist">Babymetal</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 align-content-center">
                <div class="d-flex justify-content-center audio--control">
                    <button class="bg-transparent border-0 text-white"><i class="fa-solid fa-backward-step"></i></button>
                    <button class="bg-transparent border-0 text-white"><i class="fa-solid fa-play mx-4" id="audio--control--playbt"></i></button>
                    <button class="bg-transparent border-0 text-white"><i class="fa-solid fa-forward-step"></i></button>
                </div>
                <div class="progess__block d-flex justify-content-between align-items-center">
                    <div class=" songcurrenttime">0.00</div>
                    <input type="range" class="mx-2 progress-slider" min="0" max="3.5" style="width: 100%" value="0" disabled>
                    <div class=" songduration">9.99</div>
                </div>
        </div>
        <div class="col-md-3 align-content-center">
            <div class="d-flex justify-content-end">
                <i class="fa-solid fa-volume-high"></i>
                <input type="range" class="volume-slider mx-3" min="0" max="0.05" step="0.001" style="width: 50%" value="0.008">                
            </div>
            
        </div>
    </footer>
<%}%>
</body>
</html>