<%- include("../partials/admin_header.ejs") %>
<div class="container">
    <h1 class="display-5">Add New Music</h1>
    <form action="/admin/song/new" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label">Music Title</label>
            <input type="text" class="form-control" name="name" placeholder="Music Title" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Artist</label>
            <input class="form-control" name = "artist" list="Artistdatalist" id="exampleDataList" placeholder="Select Artist" autocomplete="off" required>
            <datalist id="Artistdatalist">
                <% artist.forEach((artist)=>{ %>
                    <option value="<%= artist.name %>"></option>
                <% }); %>
            </datalist>  
        </div>

        <div class="mb-3">
            <label class="form-label">Album</label>
            <input class="form-control" name = "album" list="Albumdatalist" id="exampleDataList" placeholder="Select Album" autocomplete="off">
            <datalist id="Albumdatalist">
                <% album.forEach((album)=>{ %>
                    <option value="<%= album.name %>"></option>
                <% }); %>
            </datalist>  
        </div>
          
        <div class="mb-3">
            <label class="form-label">Genre</label>
            <input type="text" class="form-control" name="genre" placeholder="Genre" required>
        </div>
        
        <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" class="form-control" name="image" placeholder="Image URL" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Lyrics</label>
            <textarea type="text" class="form-control" name="lyric" placeholder="Lyrics"></textarea>
        </div>

        <div class="mb-3">
            <label class="form-label">Audio File (mp3)</label>
            <input class="form-control" name="audiofile" type="file" accept=".mp3" required>
        </div>

        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a class="btn btn-outline-dark" href="/admin">Go back</a>
        <a href="/admin/artist/new" class="btn btn-outline-dark float-end">Add New Artist</a>
        <a href="/admin/album/new" class="btn btn-outline-dark float-end me-lg-3">Add New Album</a>
    </form>
</div>


<%- include("../partials/admin_footer.ejs") %>