<%- include("../partials/header.ejs") %>
<div class="filter mb-3">
    <a href="/search/all" class="search--navigation"><h3 class="d-inline">All</h3></a>
    <a href="/search/song" class="search--navigation"><h3 class="d-inline">Songs</h3></a>
    <h3 class="d-inline text-decoration-underline search--navigation-current">Artists</h3>
    <a href="/search/album" class="search--navigation"><h3 class="d-inline">Albums</h3></a>
</div>
<%- include("../partials/footer.ejs") %>