<%- include('partials/header.ejs') %>
<h1>I am <%= heroes %></h1>

<% if(heroes === 'ironman'){ %>
    <p>I am Tony eiei</p>
    <% } else { %>
    <p>Wow</p>
    <% } %>

<%- include('partials/footer.ejs') %>