body
{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #1F1F1F;
    color:white;
    overflow-x: hidden;
}
hr{
    background-color: white;
    color: white;
}

tbody, td, tfoot, th, .album-song, .artistside, .albumside, .songside{
    background-color: #121212;
    border-style: hidden;
}
thead{
    background-color: #000000;
}

th:hover
{
    background-color: #1d1c1c!important;
}

#mainaudio{
    width: 100vw;
    position: sticky;
    bottom: 0;
    z-index: 900000;
    color: #1F1F1F;
}

.modal{
    z-index: 9000000;
}

.navbar{
    background-color: #050505;
    z-index: 1000000;
    position: sticky;
}
.search{
    width: 40%;
}

.navlogout--img{
    width: 27px;
}

.navlogout--img:hover{
    outline: 0.05rem solid white;
}

.nav--username{
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.nav--username:hover{
    color: rgba(255, 255, 255, 0.5);
}

.admin--list{
    color: white;
}

.admin--list:active{
    background-color: #12a7af!important;
    color: white!important;
}

.admin--list:hover{
    color: black;
    background-color: #1DE8F1;
}

.btn--login{
    background-color: #1DE8F1;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    margin-right: 0.5vw;
    width: 5.5rem;
}

.goregister{
    color: white;
    font-weight: 700;
}

.goregister:hover{
    color: #1DE8F1;
    font-weight: 700;
}

.btn--signup{
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    margin-right: 0.5vw;
    width: 5.5rem;
}

.btn--login:hover, .btn--editprofile:hover{
    background-color: #12a7af;
    color: white;
}

.btn--signup:hover{
    background-color: #1F1F1F;
    color: white;
}

.sidebar{
    background-color: #050505;
}

#webicon{
    margin-left: 1.8%;
}

.webicon__font{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}


.home__font, .favorite__font, .playlist__font, .genre__font, .artist__font, .album__font{
    position: relative;
    top: 0.32rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.webicon__font:hover, .home__font:hover, .favorite__font:hover, .playlist__font:hover, .genre__font:hover, .artist__font:hover, .album__font:hover{
    color: rgba(255, 255, 255, 0.5);
}

.artistinfo--img, .playlistinfo--img, .songinfo--img, .songside--img, .artistside--img, .albumside--img, .albuminfo--img, .userinfo--img, .adminprofileimg, .playlistedit--img{
    object-fit: cover;
    aspect-ratio: 1/1;
}

.playlistinfo--img{
    width: 18vw;
}

.artistinfo{
    background-color: #121212;
}

.albuminfo{
    background: rgb(18,18,18);
    background: linear-gradient(149deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.7091211484593838) 85%, rgba(21,100,104,1) 100%);    
}

.card__playbt{
    position:absolute;
    top: 40%;
    left: 50%;
    width: 4rem;
    height: 4rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    visibility: hidden;
}

.card__playbt i{
    font-size: 4rem;
    cursor: context-menu;
    color: #16b9c2;
}

.card__playbt i:hover{
    color: #1DE8F1;
}

.song--img, .artist--img, .album--img, .playlist--img{
    object-fit: cover;
    width: 100%;
    height: 20vh;
    aspect-ratio: 1/1;
}

.song--name, .artist--name, .album--name, .playlist--name{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    overflow:hidden;
    width: inherit;
}

.song--artist, .album--artist{
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    text-decoration: none;
    width: inherit;
}

.song--name:hover, .song--artist:hover, .artist--name:hover, .album--name:hover, .playlist--name:hover, .album--artist:hover{
    text-decoration: underline;
}

.card{
    background-color: #1F1F1F;
}

.card:hover{
    background-color: #2c2c2c;
}

.songinfo{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4)
}

.songinfo--genre, .songinfo--date, .songinfo--artist, .btn--play p{
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
}

.songinfo--artist:hover{
    text-decoration: underline;
}

.album-song--name:hover, .album-song--artistname:hover, .songside--name:hover, .songside--artistname:hover, .artistside--name:hover, .albumside--name:hover{
    color: rgba(255, 255, 255, 0.705);
}


.btn--play i{
    font-size: 2rem;
    color: #1DE8F1;
}

.btn--play i:active,.btn--fav i:active, .btn--unfav i:active, .btn--addplaylist i:active, .playbt--inrow:active, .btn--editprofile:active , .btn--rmformplaylist:active, .editplaylistbt:active{
    transform: translateY(10%);
}

.btn--unfav i:hover{
    color: rgba(29, 232, 241, 0.7);
}

.btn--play i:hover{
    color: white;
}

.btn--fav i{
    font-size: 2rem;
    color: white;
}

.btn--unfav i{
    font-size: 2rem;
    color: #1DE8F1;
}

.btn--editprofile{
    font-size: 1rem;
    color: black;
    font-weight: 600;
    background-color: #1DE8F1;
}

.btn--fav i:hover, .btn--addplaylist i:hover, .playbt--inrow:hover, .btn--editnickname i:hover, .rmfromplaylist--inrow:hover,.editplaylistbt:hover{
    color: #1DE8F1;
}

.addplaylist--inrow, .favbt--inrow, .rmfromplaylist--inrow{
    font-size: 1rem!important;
    color: white;
    visibility: hidden;
}

.unfavbt--inrow{
    font-size: 1rem!important;
    color: #1DE8F1;
    visibility: hidden;
}

#tablebt{
    width: 8rem;
}

.playbt--inrow{
    color: white;
    visibility: hidden;
}

.btn--addplaylist{
    background-color: transparent;
    border: 0;
}

.btn--addplaylist i, .editplaylistbt{
    font-size: 2rem;
    color: white;
}

.lyric{
    white-space: pre-line;
    font-size: 1.2rem;
}

.songinfo__text h1{
    font-size: 3.1vw;
}

.artist-song-row:hover, .album-song-row:hover, .songside__row:hover, .artistside__row:hover, .albumside__row:hover, .search-song__row:hover, .playlist-song-row:hover, .user-favsong-row:hover{
    background-color: #2c2c2c;
}


.otherartist, .othersong, tbody{
    background-color: #121212;
    text-decoration: none;
    color: white;
}

.otherartist__block:hover, .othersong__block:hover{
    background-color: #353434;
}

.otherartist--name, .othersong--name, .genre--title, .otherartist__block, .othersong__block, .album--artistname{
    text-decoration: none;
    color: white;
}

.album--artistname:hover, .genre--title:hover{
    text-decoration: underline;
    color: white;
}

.genreinfo--title{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  #1a1a1a 0%, rgba(32,45,58,1) 81.3% );
    border-radius: 2rem;
}

.othersongartist--name{
    color: rgb(206, 206, 206);
    text-decoration: none;
}

.othersongartist--name:hover{
    color: rgba(206, 206, 206, 0.658);
}

.otherartist--name:hover, .othersong--name:hover{
    color: rgba(255, 255, 255, 0.705);
}

#number{
    color: rgba(206, 206, 206, 0.258);
    cursor: default;
    width: 1.2rem;
    text-align: right;
}

.playlist-song-row td a{
    color: white;
}

.playlist-song-row td a:hover{
    color: rgba(255, 255, 255, 0.705)!important;
}

.artist-song-row td a{
    color: white;
}

.artist-song-row td a:hover{
    color: rgba(255, 255, 255, 0.705)!important;
}

.search-song__row td a{
    color: white;
}

.search-song__row td a:hover{
    color: rgba(255, 255, 255, 0.705)!important;
}

.searchpage--bg{
    background-color: #050505;
}

.search--navigation{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.search--navigation:hover{
    text-decoration: underline;
    color: #1ad0dac2;
}

.search--navigation-current, .userinfo--username, .userinfo--displayname{
    color: #1DE8F1;
}

.filter{
    word-spacing: 1rem;
}

.searchpage__artistcard, .searchpage__albumcard{
    background-color: transparent;
}

#seeall{
    text-decoration: none;
    color: grey;
}

#seeall:hover{
    color: white;
    text-decoration: underline;
}

.audiocontainer{
    z-index: 9999!important;
    outline: #1DE8F1 2px solid;
}

.audio__songinfo img{
    height: 10vh;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.audio--control{
    font-size: 1.5rem;
}

.songplaybar{
    height: 0.5rem;
}

.test{
    position: sticky;
    bottom: 0;
}

.songcurrenttime{
    width: 2.4rem;
}

.progress-slider, .volume-slider{
    accent-color: #1DE8F1;
}