body
{
    font-family: 'Bai Jamjuree', sans-serif;
    background-color: #1F1F1F;
    color:white;
}
hr{
    background-color: white;
    color: white;
}

tbody, td, tfoot, th, .album-song, .songside, .artistside, .albumside{
    background-color: #121212;
    border-style: hidden
}

thead{
    background-color: #000000;
}

.navbar{
    background-color: #050505;
    z-index: 1;
    position: sticky;
}
.search{
    width: 40%;
}

.nav--username{
    font-weight: 600;
    font-size: 1.5rem;
}

.btn--login{
    background-color: #1DE8F1;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    margin-right: 0.5vw;
    width: 5.5rem;
}

.btn--signup{
    background-color: white;
    color: black;
    font-weight: 700;
    border-radius: 15px;
    margin-right: 0.5vw;
    width: 5.5rem;
}

.btn--login:hover{
    background-color: #12a7af;
    color: white;
}

.btn--signup:hover{
    background-color: #1F1F1F;
    color: white;
}

.sidebar{
    background-color: #050505;
}

#webicon{
    margin-left: 1.8%;
}

.webicon__font{
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
}


.home__font, .favorite__font, .playlist__font, .genre__font, .artist__font, .album__font{
    position: relative;
    top: 0.32rem;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
}

.artistinfo--img, .songinfo--img, .songside--img, .artistside--img, .albumside--img, .albuminfo--img, .userinfo--img, .adminprofileimg{
    object-fit: cover;
}

.artistinfo{
    background-color: #121212;
}

.albuminfo{
    background: rgb(18,18,18);
    background: linear-gradient(149deg, rgba(18,18,18,1) 0%, rgba(18,18,18,0.7091211484593838) 85%, rgba(21,100,104,1) 100%);    
}

.song--img, .artist--img, .album--img{
    object-fit: cover;
    width: 100%;
    height: 20vh;
}

.song--name, .artist--name, .album--name{
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
    overflow:hidden;
    width: inherit;
}

.song--artist{
    font-size: 1rem;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    text-decoration: none;
    width: inherit;
}

.song--name:hover, .song--artist:hover, .artist--name:hover, .album--name:hover{
    text-decoration: underline;
}

.card{
    background-color: #1F1F1F;
}

.card:hover{
    background-color: #2c2c2c;
}

.songinfo{
    position: relative;
    background-color: rgba(0, 0, 0, 0.4)
}

.songinfo--genre, .songinfo--date, .songinfo--artist, .btn--play p{
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
}

.songinfo--artist:hover{
    text-decoration: underline;
}

.album-song--name:hover, .album-song--artistname:hover, .songside--name:hover, .songside--artistname:hover, .artistside--name:hover, .albumside--name:hover{
    color: rgba(255, 255, 255, 0.705);
}


.btn--play{
    border-radius: 15px;
    width: 7.5vw;
    padding: auto;
}

.btn--play p{
    font-weight: 700;
    font-size: 1.5vw;
}

.btn--play img{
    width: 2vw;
}

.btn--play{
    background-color: white;
}

.btn--play:hover{
    background-color: rgba(255, 255, 255, 0.705);
}

.btn--fav:hover{
    border: solid 1px white;
}

.btn--fav img{
    height: 5vh;
}

.btn--addplaylist img{
    height: 5vh;
}

.lyric{
    white-space: pre-line;
    font-size: 1.2rem;
}

.songinfo__text h1{
    font-size: 3.1vw;
}

.artist-song-row:hover, .album-song-row:hover, .songside__row:hover, .artistside__row:hover, .albumside__row:hover, .search-song__row:hover{
    background-color: #2c2c2c;
}


.otherartist, .othersong, tbody{
    background-color: #121212;
    text-decoration: none;
    color: white;
}

.otherartist__block,.othersong__block{
    text-decoration: none;
    color: white;
}

.otherartist__block:hover, .othersong__block:hover{
    background-color: #252424;
}

.otherartist--name, .othersong--name{
    text-decoration: none;
    color: white;
}

.othersongartist--name{
    color: rgb(206, 206, 206);
    text-decoration: none;
}

.othersongartist--name:hover{
    color: rgba(206, 206, 206, 0.658);
}

.otherartist--name:hover, .othersong--name:hover{
    color: rgba(255, 255, 255, 0.705);
}

#number{
    color: rgba(206, 206, 206, 0.258);
    cursor: default;
    width: 1.2rem;
    text-align: right;
}


.artist-song-row td a{
    color: white;
}

.artist-song-row td a:hover{
    color: rgba(255, 255, 255, 0.705)!important;
}

.search-song__row td a{
    color: white;
}

.search-song__row td a:hover{
    color: rgba(255, 255, 255, 0.705)!important;
}

.searchpage--bg{
    background-color: #050505;
}

.search--navigation{
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.search--navigation:hover{
    text-decoration: underline;
    color: #1ad0dac2;
}

.search--navigation-current, .userinfo--username, .userinfo--displayname{
    color: #1DE8F1;
}

.filter{
    word-spacing: 1rem;
}

.audiocontainer{
    display: block;
    width: 90vw;
}

.searchpage__artistcard, .searchpage__albumcard{
    background-color: transparent;
}

#seeall{
    text-decoration: none;
    color: grey;
}

#seeall:hover{
    color: white;
    text-decoration: underline;
}