.center
{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.btn:link, .btn:visited
{
    text-decoration: none;
    font-size: 1rem;
    border-radius: 4.5rem;
    display: inline-block;
    position: relative;
    padding: 1rem;
    font : prompt;
}
.btn-black
{
    background-color: black;
    color: white;
    font-weight: 100;
}
.btn:hover
{
    transform: translateY(-0.2rem);
    box-shadow: 0 1rem 1rem rgba(27, 146, 224, 0.4);
}
.btn:active
{
    transform: translateY(-0rem);
    box-shadow: 0 1rem 1rem rgba(221, 153, 198, 0.99);
}