<%- include("../partials/admin_header.ejs") %>
<div class="container">
    <h1 class="display-5">Add New Artist</h1>
    <form action="/admin/artist/new" method="post">
        <div class="mb-3">
            <label class="form-label">URL</label>
            <input type="text" class="form-control" name="image" placeholder="Image URL" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Artist Name</label>
            <input type="text" class="form-control" name="name" placeholder="Artist Name" required>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a href="/admin">Go back</a>
        <a href="/admin/song/new" class="btn btn-outline-dark float-end">Add New Song</a>
        <a href="/admin/album/new" class="btn btn-outline-dark float-end me-lg-3">Add New Album</a>
    </form>
</div>


<%- include("../partials/admin_footer.ejs") %>