body
{
    text-align: center;
}
.mainbox
{
    position: relative;
    display: flex;
    justify-content: center;
}
.box
{
    margin: 0.5rem;
    border: 0.2rem red solid;
    width: 20%;
}
.hidden
{
    display: none;
}
.imgsize
{
    width: 100%;
}